*.a

test_recursive
repetition_testing
page_mapping_probe
pointer_decomposition
cpu_frontend
cpu_info
execution_ports
simd_mov
cache_sizes
unaligned_loads
cache_set_eviction
non_temporal_stores
chunked_reads
